@import '../../../styles/variables.less';

.table {
  width: 100%;
  position: relative;
  padding-top: 60px;
  &-header {
    height: 30px;
    &-field {
      width: 120px;
    }
  }
  &-row {
    height: 60px;
    width: 100%;
    &-field {
      width: 120px;
    }
  }
}
.amount {
  width: 212px;
}
.value {
  width: 200px;
}
.paginator {
  height: 60px;
  &-page {
    width: 60px;
  }
}
