.border {
  border: 1px solid #FFFFFF;
}
.border--bottom-grey {
  border-bottom: 1px solid #F6F6F6;
}
.border--bottom-grey-dark {
  border-bottom: 1px solid #383838;
}
.border--bottom-grey-mid {
  border-bottom: 1px solid #383838;
}
