.button-big {
  height: 3.5625rem;
  width: 15.9375rem;
  background-color: #291644;
  border: 1px solid #291644;
  transition: all 0.4s ease-in-out;
}
.button-big a {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-big:hover {
  background-color: #1a6b2c;
  border: 1px solid #1a6b2c;
  transition: all 0.4s ease-in-out;
}
.button-midd {
  height: 2.813rem;
  width: 9.0625rem;
  background-color: #291644;
  border: 1px solid #291644;
  transition: all 0.4s ease-in-out;
}
.button-midd a {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-midd:hover {
  background-color: #1a6b2c;
  border: 1px solid #1a6b2c;
  transition: all 0.4s ease-in-out;
}
.button-small {
  height: 20px;
  width: 200px;
  background-color: #F6F6F6;
  border: 1px solid #C6C6C5;
  color: #000000;
  transition: all 0.4s ease-in-out;
}
.button-small-disabled {
  pointer-events: none;
}
.button-small:hover {
  background-color: #C6C6C5;
  border: 1px solid #F6F6F6;
  transition: all 0.4s ease-in-out;
}
.button-small :disabled {
  background-color: #F6F6F6;
  border: 1px solid #b20808;
  color: #000000;
  transition: all 0.4s ease-in-out;
}
.button-grey {
  height: 1.875rem;
  width: 6rem;
  background-color: #C6C6C5;
  border: 1px solid #C6C6C5;
  transition: all 0.4s ease-in-out;
}
.button-grey a {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-grey:hover {
  background-color: #1a6b2c;
  border: 1px solid #1a6b2c;
  transition: all 0.4s ease-in-out;
}
.button-border-purple {
  border: 1px solid #291644;
  transition: all 0.4s ease-in-out;
}
@media screen and (max-width: 480px) {
  .button-big {
    height: 3.513rem;
    width: 10.063rem;
  }
  .button-midd {
    height: 2.313rem;
    width: 6.375rem;
  }
}
