.menu-main {
  height: 60px;
  position: relative;
}
.menu-main--right--search-icon {
  height: 0.875rem;
  width: 0.875rem;
  padding: 7%;
  background: #FFFFFF;
  border-radius: 50%;
  border: 1px solid #291644;
}
.menu-main--right--search-icon:hover {
  background: #291644;
  border: 1px solid #FFFFFF;
}
.menu-main--right--search-icon:hover .loopa {
  fill: #FFFFFF;
}
.menu-main--left {
  width: 150px;
}
