@import 'variables';

.menu {
  &-main {
    height: 60px;
    position: relative;
    &--right {
      // height: 100%;
      &--search {
        &-icon {
          height: 0.875rem;
          width: 0.875rem;
          padding: 7%;
          background: @white;
          border-radius: 50%;
          border: 1px solid @purple;
          &:hover {
            background: @purple;
            border: 1px solid @white;
            .loopa {
              fill: @white;
            }
          }
        }
      }
    }
    &--left {
      width: 150px;
      // height: 100%;
    }
  }
}
