.menu-main {
  height: 3.75rem;
  width: 100%;
  position: fixed;
  z-index: 9999999;
}
.menu-main--right {
  height: 100%;
}
.menu-main--right--search-icon {
  height: 0.875rem;
  width: 0.875rem;
  padding: 7%;
  background: #FFFFFF;
  border-radius: 50%;
  border: 1px solid #291644;
}
.menu-main--right--search-icon:hover {
  background: #291644;
  border: 1px solid #FFFFFF;
}
.menu-main--right--search-icon:hover .loopa {
  fill: #FFFFFF;
}
.menu-second {
  height: 3.75rem;
  width: 100%;
  position: fixed;
  z-index: 9999999;
  top: 3.75rem;
}
.logo-white path {
  fill: #FFFFFF;
  transition: fill 0.8s ease-in-out;
}
.logo-purple path {
  fill: #291644;
  transition: fill 0.8s ease-in-out;
}
.footer {
  width: 100%;
}
.footer-bottom {
  height: 3.4375rem;
  background-color: #291644;
}
