.w-100 {
  width: 100%;
}
.w-100--min {
  min-width: 100%;
}
.w-75 {
  width: 75%;
}
.w-60 {
  width: 55%;
}
.w-50 {
  width: 50%;
}
.w-40 {
  width: 45%;
}
.w-33 {
  width: 33.33%;
}
.w-25 {
  width: 25%;
}
.w-25--min {
  min-width: 25%;
}
@media only screen and (max-width: 1440px) {
  .w--xl-100 {
    width: 100%;
  }
  .w--xl-100--min {
    min-width: 100%;
  }
  .w--xl-75 {
    width: 75%;
  }
  .w--xl-50 {
    width: 50%;
  }
  .w--xl-33 {
    width: 33.33%;
  }
  .w--xl-25 {
    width: 25%;
  }
  .w--xl-auto {
    width: auto;
  }
}
@media only screen and (max-width: 1024px) {
  .w--l-100 {
    width: 100%;
  }
  .w--l-75 {
    width: 75%;
  }
  .w--l-50 {
    width: 50%;
  }
  .w--l-33 {
    width: 33.33%;
  }
  .w--l-25 {
    width: 25%;
  }
  .w--l-auto {
    width: auto;
  }
}
@media only screen and (max-width: 960px) {
  .w--m-100 {
    width: 100%;
  }
  .w--m-75 {
    width: 75%;
  }
  .w--m-50 {
    width: 50%;
  }
  .w--m-33 {
    width: 33.33%;
  }
  .w--m-25 {
    width: 25%;
  }
  .w--m-auto {
    width: auto;
  }
}
@media only screen and (max-width: 600px) {
  .w--s-100 {
    width: 100%;
  }
  .w--s-75 {
    width: 75%;
  }
  .w--s-50 {
    width: 50%;
  }
  .w--s-33 {
    width: 33.33%;
  }
  .w--s-25 {
    width: 25%;
  }
  .w--s-auto {
    width: auto;
  }
}
